@import "../../../../../../styles.scss";
@import "../../../../../../config-scss/variables.scss";
@import "../../../../../../config-scss/utilities.scss";

.search {
  background-image: url("../../../../../../assets/icons/search.svg");
  background-position: 0.5rem 0.6rem;
  background-repeat: no-repeat;
  border: none;
  border-radius: 1rem;
  color: var(--medium);
  height: 2rem;
  padding-left: 2rem;
  width: 100%;
}
