<poke-header></poke-header>
<body class="poke-details">
  <img class="pokemon-image" src="../../../../assets/bulbassaur.png" alt="" />
  <div class="main">
    <app-details-types></app-details-types>
    <h2 class="subtitle">About</h2>
    <poke-info></poke-info>
    <p class="dex-description centered">
      There is a plant seed on its back right from the day this Pokémon is born.
      The seed slowly grows larger.
    </p>
    <h2 class="subtitle">Base Status</h2>
    <div class="stats-field">
      <poke-stats></poke-stats>
      <poke-stats></poke-stats>
      <poke-stats></poke-stats>
      <poke-stats></poke-stats>
      <poke-stats></poke-stats>
      <poke-stats></poke-stats>
    </div>
  </div>
</body>
