<details-header></details-header>

<body class="poke-details">
  <img
    class="poke-details__image"
    src="../../../../assets/bulbassaur.png"
    alt=""
  />

  <div class="poke-details__main">
    <poke-types></poke-types>

    <h2 class="subtitle centered">About</h2>
    <poke-info></poke-info>

    <p class="dex-description centered">
      There is a plant seed on its back right from the day this Pokémon is born.
      The seed slowly grows larger.
    </p>

    <h2 class="subtitle centered">Base Status</h2>
    <div class="poke-details__stats-field">
      <poke-stats></poke-stats>
      <poke-stats></poke-stats>
      <poke-stats></poke-stats>
      <poke-stats></poke-stats>
      <poke-stats></poke-stats>
      <poke-stats></poke-stats>
    </div>
  </div>
</body>
