@import "../../../styles.scss";
@import "../../../config-scss/variables.scss";
@import "../../../config-scss/utilities.scss";
@import "../../../config-scss/types.scss";

.poke-details {
  &__main {
    background: var(--white);
    border-radius: 0.5rem;
    gap: 0.5rem;
    height: 63vh;
    justify-content: center;
    margin: 10% 2.5% 0 2.5%;
    padding: 1.5rem 1.25rem 1.125rem 1.25rem;

    .subtitle {
      font-size: 0.875rem;
      font-weight: 700;
      margin: 1rem 0 0.5rem 0;
    }

    .status-title {
      font-size: 0.875rem;
      font-weight: 700;
      margin: 1.5rem 0 0.825rem 0;
    }
  }

  &__stats-field {
    margin-bottom: 1rem;
  }
}
