.centered {
  align-items: center;
  display: flex;
  justify-content: center;
}

.between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.evenly {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.left {
  align-items: center;
  display: flex;
  justify-content: left;
}

.right {
  align-items: center;
  display: flex;
  justify-content: right;
}

.inner-shadow {
  box-shadow: inset 0 0.063rem 0.188rem 0.063rem
    rgba($color: #000000, $alpha: 25%);
}

.drop-shadow {
  box-shadow: 0 0.063rem 0.188rem 0.063rem rgba($color: #000000, $alpha: 25%);
}
