@import "../../../../config-scss/variables.scss";
@import "../../../../styles.scss";
@import "../../../../config-scss/utilities.scss";

.poke-info {
  flex-direction: row;
  gap: 0.5rem;

  &__item {
    &__image {
      margin-right: 0.5rem;
    }

    .abilities {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }
}

.info-subtitle {
  flex-direction: row;
  gap: 2rem;
  margin-top: 0.25rem;

  &__item {
    color: var(--medium);
    font-size: 0.9rem;
    font-weight: 400;
  }
}
