@import "../../../../config-scss/variables.scss";
@import "../../../../styles.scss";
@import "../../../../config-scss/utilities.scss";

.poke-info {
  flex-direction: row;
  text-transform: capitalize;

  &__item {
    min-width: 5.863rem;

    .abilities {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }
}

.info-subtitle {
  flex-direction: row;
  margin-top: 0.25rem;
  &__item {
    color: var(--medium);
    font-size: 0.9rem;
    font-weight: 400;
    min-width: 3.471rem;
  }
}
