<ul class="poke-info between">
  <li class="poke-info__item centered">
    <img
      class="poke-info_image"
      src="../../../../assets/icons/weight.svg"
      alt=""
    />
    {{ weight }}hg
  </li>

  <img class="divider" src="../../../../assets/Divider.png" alt="" />

  <li class="poke-info__item centered">
    <img
      class="poke-info_image"
      src="../../../../assets/icons/height.svg"
      alt=""
    />
    {{ height }}dm
  </li>

  <img class="divider" src="../../../../assets/Divider.png" alt="" />

  <li class="poke-info__item centered">
    <ul class="abilities">
      <li>{{ ability1 }}</li>
      <li>{{ ability2 }}</li>
    </ul>
  </li>
</ul>

<ul class="info-subtitle centered">
  <li class="info-subtitle__item">Weight</li>
  <li class="info-subtitle__item">Height</li>
  <li class="info-subtitle__item">Abilities</li>
</ul>
