<ul class="poke-info around">
  <li class="poke-info__item centered">
    <img
      class="poke-info_image"
      src="../../../../assets/icons/weight.svg"
      alt=""
    />
    {{ weight | formatNumber }}kg
  </li>

  <li class="poke-info__item centered">
    <img
      class="poke-info_image"
      src="../../../../assets/icons/height.svg"
      alt=""
    />
    {{ height | formatNumber }}m
  </li>

  <li class="poke-info__item centered">
    <ul class="abilities">
      <li *ngFor="let ability of abilities">
        {{ ability.ability.name }}
      </li>
    </ul>
  </li>
</ul>

<ul class="info-subtitle around">
  <li class="info-subtitle__item">Weight</li>
  <li class="info-subtitle__item">Height</li>
  <li class="info-subtitle__item">Abilities</li>
</ul>
