<ul class="poke-info">
  <li>
    <img class="info-icon" src="../../../../assets/icons/weight.svg" alt="" />
    6,9kg
  </li>
  <img class="divider" src="../../../../assets/Divider.png" alt="" />
  <li>
    <img class="info-icon" src="../../../../assets/icons/height.svg" alt="" />
    0,7m
  </li>
  <img class="divider" src="../../../../assets/Divider.png" alt="" />
  <li>
    <ul class="abilities">
      <li>Chlorophyll</li>
      <li>Overgrow</li>
    </ul>
  </li>
</ul>
<ul class="info-label">
  <li>Weight</li>
  <li>Height</li>
  <li>Abilities</li>
</ul>
