<ul>
  <li *ngFor="let stat of stats">
    <div class="poke-stat centered">
      <p class="poke-stat__name {{ types[0].type.name }}__color">
        {{ stat.stat.name }}
      </p>
      <p class="poke-stat__value {{ types[0].type.name }}__color right ">
        {{ stat.base_stat }}
      </p>
      <input
        type="range"
        class="{{ types[0].type.name }}__range"
        min="0"
        max="200"
        value="{{ stat.base_stat }}"
        disabled
      />
    </div>
  </li>
</ul>
