@import "../../../../styles.scss";
@import "../../../../config-scss/variables.scss";
@import "../../../../config-scss/utilities.scss";

.poke-stat {
  color: var(--grass);
  font-weight: 700;
  height: 1.5rem;

  &__name {
    border-right: 0.063rem solid var(--light);
    font-size: 1rem;
    padding-right: 0.75rem;
  }

  &__value {
    color: var(--grass);
    padding: 0 0.75rem 0 0.75rem;
  }

  input[type="range"] {
    -webkit-appearance: none;
    width: 12.5rem;
    height: 0.438rem;
    background: var(--light-grass);
    border-radius: 0.313rem;
    background-image: linear-gradient(var(--grass), var(--grass));
    background-size: 2.813rem;
    background-repeat: no-repeat;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    display: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
}
