@import "../../../../../styles.scss";
@import "../../../../../config-scss/variables.scss";
@import "../../../../../config-scss/utilities.scss";

.search {
  background-image: url("../../../../../assets/icons/search.svg");
  background-position: 0.5rem 0.6rem;
  background-repeat: no-repeat;
  border: none;
  border-radius: 1rem;
  color: var(--medium);
  height: 2rem;
  margin-bottom: 1.5rem;
  padding: 0 1rem 0 2rem;
  width: 100%;

  :focus {
    outline: none;
    box-shadow: 0 0.063rem 0.188rem 0.063rem rgba($color: #000000, $alpha: 25%);
  }

  &::-webkit-search-cancel-button {
    display: none;
  }
}
