@import "../../../styles.scss";
@import "../../../config-scss/variables.scss";
@import "../../../config-scss/utilities.scss";

body {
  .main {
    background: var(--white);
    border-radius: 0.5rem;
    gap: 0.5rem;
    height: 78vh;
    justify-content: center;
    margin: 10% 2.5% 0 2.5%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 1.5rem 0.75rem 0 0.75rem;
  }
}
