@import "../../../../styles.scss";
@import "../../../../config-scss/variables.scss";
@import "../../../../config-scss/utilities.scss";
@import "../../../../config-scss/types.scss";

.types-list {
  color: var(--white);
  flex-direction: row;
  font-size: 0.625;
  font-weight: 700;
  gap: 1rem;
  margin-top: 3rem;

  .type {
    border-radius: 0.625rem;
    padding: 0.125rem 0.5rem;
    text-transform: capitalize;
    color: var(--white);
  }
}
