@import "../../../../styles.scss";
@import "../../../../config-scss/utilities.scss";
@import "../../../../config-scss/variables.scss";

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}
