<form class="list-form evenly">
  <poke-search (emitSearch)="getSearch($event)"></poke-search>
  <button
    class="list-form__sort drop-shadow"
    id="btn"
    type="button"
    (click)="ordenate()"
    [ngStyle]="
      this.checkOrder == true
        ? { 'background-image': 'url(' + imageUrl2 + ')' }
        : { 'background-image': 'url(' + imageUrl + ')' }
    "
  ></button>
</form>

<ul class="pokemon-list">
  <li *ngFor="let pokemon of getAllPokemons">
    <a class="link" [routerLink]="['details', pokemon.status?.id]">
      <list-item
        [order]="pokemon.status?.id"
        [name]="pokemon.name"
        [imageUrl]="
          pokemon.status?.sprites.other['official-artwork'].front_default
        "
      ></list-item>
    </a>
  </li>
</ul>
